#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
  text-decoration: none;
}

.read-the-docs {
  color: #888;
}

li{
  text-decoration: none;
  list-style-type: none;
  padding-top: 10px;
}

.App{
  background-color: goldenrod;
  padding: 100px;
  border-radius: 50px
}

h1{
  color: #ffffff;
  
}
  